.blog-article__title {
  @include fonts(24px,37px,400);
  @include margin-text(29px);
  font-family: "Oswald";
  text-transform: uppercase;
}

.blog-article__description {
  @include fonts(16px,24px,400);
  @include margin-text(15px);
  color: $base-color-text;
}

.blog-article__primary {
  @include fonts(16px,16px,400);
  @include margin-text(0);
  font-family: "Oswald";
  text-transform: uppercase;
}

.blog-article {
  margin-bottom: 20px;
}
