.blog-article__title {
  @include fonts(24px,37px,400);
  @include margin-text(0px);
  font-family: $font-secondary;
  text-transform: uppercase;

  @media(min-width: 768px) {
    @include fonts(36px,36px,400);
  }
}

.blog-article__description {
  @include fonts(16px,24px,400);
  @include margin-text(15px);
  color: $base-color-text;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-secondary;

  @media (min-width: 768px) {
    @include fonts(16px, 24px, 400);
    color: $basic-black;
    border: none;
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 27px;
  }
}

.blog-article__button {
  @include fonts(16px,16px,400);
  @include margin-text(0);
  font-family: $font-secondary;
  text-transform: uppercase;
  position: relative;

  @media (min-width: 768px) {
    @include fonts(20px,30px,400);
  }
}

.blog-article__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 10px;
  background: url("../../icons/blog-icon-arrow.svg");
  right: -47px;
  top: 7px;
}


.blog-article {
  background-color: $background-color-primary;
  padding: 30px 20px 18px;

  @media (min-width: 768px) {
    position: relative; /*позиционирование хедер пикчи артикля внутри блока */
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: 1440px) {
    position: static;
    padding: 47px 61px 55px 52px;
  }
}

.blog-article-wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(372px, 1fr);
    gap: 30px;
    padding: 0 30px;
    margin-bottom: 45px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(374px, 1fr);
    gap: 80px;
    padding: 0 110px;
    margin-bottom: 71px;
  }
}

.blog-article__cat-image {
  height: 50px;
  width: 50px;
  background-color: $base-background-color;
  border-radius: 50%;
  margin-right: 20px;

  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 63px;
    top: 91px;
    margin-right: 0;
  }

  @media (min-width: 1440px) {
    width: 100px;
    height: 100px;
    position: static;
    margin-right: 62px;
  }
}

.blog-article__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 39px;
  }
}
