/*

.slider {
  position: relative;
  display: inline-block;
  line-height: 0;
  width: 280px;
  z-index: 4;

  @media (min-width: $width-tablet) {
    width: 560px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (min-width: $width-desktop) {
    position: absolute; /*позиционирование слайдера в блоке ревью
    top: 0;
    right: 0;
  }
}

.slider > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 140px;
  max-width: 100%;
  resize: horizontal;
  overflow: hidden;
  background-color: $background-color-secondary;

  @media (min-width: $width-tablet) {
    background: linear-gradient(to bottom, white 155px, $background-color-secondary 155px 100%);
    width: 280px;
  }

  @media (min-width: $width-desktop) {
    background: none;
  }
}

.slider img {
  user-select: none;
  max-width: 280px;

  @media (min-width: $width-tablet) {
    max-width: 560px;
  }
}

*/